[submodule "external/vcpkg"]
	path = external/vcpkg
	url = git@github.com:microsoft/vcpkg.git

[submodule "external/vk-bootstrap"]
	path = external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git